Modul6_Tugas 7_pertemuan 6_ Pembuatan Konten Rutin_Arfan Khoeri (1).json
{
  "name": "Modul6_Tugas 7_pertemuan 6_ Pembuatan Konten Rutin_Arfan Khoeri",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "226be97d-6f67-4a77-bae6-43ff105618f1",
      "name": "Telegram Trigger",
      "webhookId": "32cd3f2b-e03e-408d-aaea-3c47055aa266",
      "credentials": {
        "telegramApi": {
          "id": "v38guK5huOk3UnGd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ef6e0b13-1fe1-428d-bba9-246f9ad9294b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e1fe8921-fcc8-418a-aeec-afbe05d3b32f",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Title",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "971e92c7-87a5-46a9-bb18-58f05a3a6146",
                    "leftValue": "={{ $json.message.caption }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        -16
      ],
      "id": "75cd8e7a-555d-4bd6-b8ca-de570edec45c",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94ea5b2e-692e-40c3-b80e-3c272636405f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -144
      ],
      "id": "52798b2d-64d3-4090-85ff-22d956fa0633",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e666b3d1-fca6-4651-a9b3-7bdd3e76557d",
              "name": "tanggal",
              "value": "={{ $json['Readable date'] }}",
              "type": "string"
            },
            {
              "id": "82b8f08c-dfb2-4834-8217-32347f4f49d3",
              "name": "tema",
              "value": "Teknologi & Produktivitas",
              "type": "string"
            },
            {
              "id": "d2226fd6-1cad-4e1f-a517-bced425d2f29",
              "name": "waktu",
              "value": "={{ $json['Readable time'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -288
      ],
      "id": "df2d3644-dc97-47b4-9562-98d28726c7e3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        -496
      ],
      "id": "5191d010-4ccb-45fc-a417-1a2f49395348",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7JUPLiauNgBdU1uE",
          "name": "Google Gemini(PaLM) Api account (QR)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk tanggal {{ $node[\"Switch\"].json[\"message\"][\"date\"] }} \ndengan tema \"Kaffe Tropikal Healing\". Berikan dalam format nomor.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        -288
      ],
      "id": "357eaf69-d3ed-4a12-b84e-a2365f83ea82",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7f1ef43-2638-4da2-80db-b4badab84b2d",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "4a347861-f61c-4a5b-be84-ac56c217e43d",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "5bb25f4b-b5db-4323-bc30-f8fe7e5b848e",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -528
      ],
      "id": "96c43bd3-9049-4832-9605-0a0c65838de8",
      "name": "Output 1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1696,
        -320
      ],
      "id": "56b7b028-04a6-4b1b-a078-e1c27251a617",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-4.0-ultra-generate-001",
          "mode": "list",
          "cachedResultName": "models/imagen-4.0-ultra-generate-001"
        },
        "prompt": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        576,
        0
      ],
      "id": "b8ccf428-c706-44e6-9fb3-6146afb1ce4c",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "7JUPLiauNgBdU1uE",
          "name": "Google Gemini(PaLM) Api account (QR)"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        0
      ],
      "id": "4fbbffbb-09c7-4c5d-8fb1-1eb119b3346a",
      "name": "Kirim Gambar",
      "webhookId": "a126aa7d-9e43-4cdf-ba40-446d7ff7de2f",
      "credentials": {
        "telegramApi": {
          "id": "v38guK5huOk3UnGd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        240
      ],
      "id": "07c94d5b-ba9d-4e86-904f-2108b7f7b22e",
      "name": "Get a file",
      "webhookId": "ce4ff169-2bcb-4ea3-90ab-5b6797a05c66",
      "credentials": {
        "telegramApi": {
          "id": "v38guK5huOk3UnGd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        576,
        240
      ],
      "id": "bfe45825-aa5b-41a3-aef3-358988edbd66",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil semua item yang masuk\nconst items = $input.all();\n\nfor (const item of items) {\n  if (item.json.data) {\n    // Mengonversi Base64 kembali menjadi Buffer (Binary)\n    const buffer = Buffer.from(item.json.data, 'base64');\n    \n    // Memasukkan data ke dalam field binary agar dibaca node selanjutnya\n    item.binary = {\n      data: {\n        data: buffer.toString('base64'),\n        mimeType: 'image/png',\n        fileName: 'source_image.png'\n      }\n    };\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        240
      ],
      "id": "fa8c64d1-00da-4018-8292-02da9b4327ad",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Analyze the image and generate a detailed, cinematic video prompt suitable for Google VEO-3.1. Include:\n- Subject and action (e.g., \"a cat jumping on a sofa\")\n- Setting and background\n- Time of day, lighting, mood\n- Camera movement (e.g., slow zoom, tracking shot)\n- Visual style (e.g., photorealistic, cartoon, cinematic)\n\nKeep it concise (1–2 sentences). Output ONLY the prompt text, no explanation.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        992,
        240
      ],
      "id": "657a6e1c-b943-450b-96f9-afb55f5d2f82",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "7JUPLiauNgBdU1uE",
          "name": "Google Gemini(PaLM) Api account (QR)"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.1-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.1-generate-preview"
        },
        "prompt": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1200,
        240
      ],
      "id": "33204240-8c54-46ec-b843-c77c65b6fdaa",
      "name": "Generate a video",
      "credentials": {
        "googlePalmApi": {
          "id": "7JUPLiauNgBdU1uE",
          "name": "Google Gemini(PaLM) Api account (QR)"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        240
      ],
      "id": "fd2dbbd8-3ccf-40c4-b1e9-994dd2be18ff",
      "name": "Send a video",
      "webhookId": "ea51b384-36dc-4f8e-a317-70e6c63e6a6e",
      "credentials": {
        "telegramApi": {
          "id": "v38guK5huOk3UnGd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7f1ef43-2638-4da2-80db-b4badab84b2d",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "4a347861-f61c-4a5b-be84-ac56c217e43d",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "5bb25f4b-b5db-4323-bc30-f8fe7e5b848e",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -48
      ],
      "id": "b74ed3f6-11ca-4c00-bdac-5fb9ebbcfe8d",
      "name": "Output 4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7f1ef43-2638-4da2-80db-b4badab84b2d",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "4a347861-f61c-4a5b-be84-ac56c217e43d",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "5bb25f4b-b5db-4323-bc30-f8fe7e5b848e",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -208
      ],
      "id": "207acbfd-d9be-43d6-a43f-d6f78907f6be",
      "name": "Output 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7f1ef43-2638-4da2-80db-b4badab84b2d",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "4a347861-f61c-4a5b-be84-ac56c217e43d",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "5bb25f4b-b5db-4323-bc30-f8fe7e5b848e",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -368
      ],
      "id": "22ec78f8-3dbe-4505-b6fe-b685bfeec51d",
      "name": "Output 2"
    },
    {
      "parameters": {
        "chatId": "8085407373",
        "text": "=Title:  {{ $json.title }}\nPlatform:{{ $json.platform }}\nIdeas:{{ $json.ideas }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        -320
      ],
      "id": "d9164420-29de-4cb0-b4ef-c76312dc9c80",
      "name": "Kirim Ide Ke Tim",
      "webhookId": "1071495a-f82d-4bde-b3a0-445e758aad41",
      "credentials": {
        "telegramApi": {
          "id": "v38guK5huOk3UnGd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1040,
        -576
      ],
      "id": "838bdfca-54e8-4fda-9038-1b3d06bbc4d4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Harap ketik /start untuk memulai",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        -496
      ],
      "id": "39aea3e1-f650-4e00-9b96-15ac77ec6087",
      "name": "Format Salah (False)",
      "webhookId": "a0b4bfa7-cc63-4e3d-b92a-23a011ad32f7",
      "credentials": {
        "telegramApi": {
          "id": "v38guK5huOk3UnGd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Systia sedang memproses request Anda, harap tunggu sebentar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        400
      ],
      "id": "cdfee94d-c7d5-498b-aba6-810faea869c5",
      "name": "Respon Cepat",
      "webhookId": "c5faba3b-7193-4911-bc4f-fd9bc0d50f15",
      "credentials": {
        "telegramApi": {
          "id": "v38guK5huOk3UnGd",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respon Cepat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Salah (False)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Output 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Kirim Ide Ke Tim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Kirim Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output 4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Output 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Output 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f197b59b-990e-454a-a987-4c6ea5e8926e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ab2e820f183119a1cff325c1627456cb8157705ca3c559ce30aafaab9ef8286"
  },
  "id": "BuRT73OKpSdzCkg3",
  "tags": []
}